
/*----------------------------------------
    # Full width header Section CSS
----------------------------------------*/
.full-width-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .rs-header{
        z-index: 999;
        position: relative;
        .menu-area {
            transition: $transition;
            display: none;
            .rs-menu-area {
                display: flex;
                align-items: center;
                justify-content: center;
                .main-menu{
                    .rs-menu{
                        ul{
                            &.nav-menu{
                                li{
                                    display: inline-block;
                                    margin-right: 40px;
                                    padding: 0;
                                    a {
                                        transition: $transition;
                                        font-size: 14px;
                                        font-weight: 500;
                                        text-transform: uppercase;
                                        height: 90px;
                                        line-height: 90px;
                                        padding: 0;
                                        font-family: $bodyFont;
                                        color: $titleColor;
                                        padding-right: 17px;
                                        &:hover{
                                            color: $primaryColor;
                                        }
                                    }
                                    &:last-child{
                                        margin-right: 0!important;
                                        i{
                                            margin: 0;
                                        }
                                    }
                                    &:hover {
                                        a {
                                            
                                        }
                                    }
                                }
                                &#onepage-menu {
                                    .active-menu {
                                        a {
                                            color: $primaryColor;
                                        }
                                    }
                                    li a{
                                        padding-right: 0;
                                    }
                                }
                            }                  
                            
                        }
                        ul li a:hover,
                        ul li.active a,
                        ul li.current-menu-item > a {
                            color: $primaryColor !important; 
                        }
                    }
                }
                .header-btn {
                    a {
                        background-color: $secondaryColor;
                        color: $whiteColor;
                        padding: 6px 20px;
                        display: inline-block;
                        font-weight: 500;
                        border-radius: 30px;
                        font-size: 14px;
                        text-transform: capitalize;
                        img {
                            width: 20px;
                            margin-right: 6px;
                            transition: all 0.3s ease;
                            position: relative;
                            top: -1px;
                            &.hover-ico {
                                display: none;
                            }
                        }
                        &:hover {
                            background: $primaryColor;
                            color: $whiteColor;
                            img {
                                &.normal-ico {
                                    display: none;
                                }
                                &.hover-ico {
                                    display: inherit;
                                }
                            }
                        }
                    }
                }
            }
            &.sticky {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background: $whiteColor !important;
                box-shadow: 0 0 20px -10px rgba(0,0,0,.8);
                display: block;
                .logo-area{
                    height: 72px;
                    line-height: 68px;
                    img {
                        max-height: 30px;
                    }
                }
                .main-menu {
                    .rs-menu {
                        ul {
                            &.nav-menu {
                                > li {
                                    > a {
                                        height: 72px;
                                        line-height: 72px;
                                        color: #494949;
                                        &:hover {
                                            color: $primaryColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}