// Font Family
$bodyFont:        'Inter', sans-serif;
$titleFont:       'Inter', sans-serif;

// Colors
$transition:      all .3s ease;
$primaryColor:    #da573a;
$secondaryColor:  #534ff8;
$titleColor:      #303030;
$btnHover:        #deb898;
$blackColor:      #000000;
$bodyColor:       #303030;
$grayColor:       #f9f9f9;
$grayColor2:      #f7f9fa;
$whiteColor:      #ffffff;

// Common
$transition: all 0.3s ease;

// Responsive Variables
$laptop: 'only screen and (max-width: 1600px)';
$xl : 'only screen and (max-width: 1366px)';
$lg : 'only screen and (max-width: 1199px)';
$only_lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$lg_to_sm : 'only screen and  (max-width: 1199px) and (min-width: 768px)';
$md:'only screen and (max-width: 991px)';
$sm: 'only screen and (max-width: 767px)';
$xs: 'only screen and (max-width: 575px)';
$mobile: 'only screen and (max-width: 480px)';
